<!-- Blog page currently serves as main page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/blog_style.css"> <!-- Use CSS Sheet blog.css -->
    <title>Bug's Bunker</title> <!-- Table Title : Subject to change -->
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
    <body>
        <!-- Top Left Button Container -->
        <div>
            <div class="access-banner">
                <div class="button-container">

                    {% if user_status == "logged_in" %} <!-- Access Buttons For Logged In Users -->
                        <button type="button" onclick="redirectToLogout()">Logout</button>
                        <button type="button" onclick="redirectToAccount()">Account</button>
                    {% else %} <!-- Access Buttons For Non Logged In Users -->
                        <button type="button" onclick="redirectToLogin()">Login</button>
                        <button type="button" onclick="redirectToSignup()">Signup</button>
                    {% endif %}

                    <!-- Access Buttons Functions -->
                    <script> 
                        function redirectToLogin() {
                            window.location.href = "login";
                        }
                        function redirectToSignup() {
                            window.location.href = "signup";
                        }
                        function redirectToLogout() {
                            window.location.href = "logout";
                        }
                        function redirectToAccount() {
                            window.location.href = "account";
                        }
                    </script>

                </div>
            </div>
        </div> 

        <!-- TESTING NAVBAR: Intend to have buttons like projects, blogs, and more-->
        <div class="column-container"><div class="button-container">
            <button type="button" onclick="">1</button> <!-- Styling Needed -->
            <button type="button" onclick="">2</button>
            <button type="button" onclick="">3</button>
            <button type="button" onclick="">4</button>
        </div></div>

        <div class="header-container">
            <div class="blog-title"><h1><i>BUG'S BUNKER</i></h1></div>
            <!--
            <ul>
                {% for post in all_posts %}
                    <div class="post">
                        <p>{{ post.title }}</p>
                        {% if post.header_image %}
                            <img src="{{ image_urls[post.id] }}" alt="{{ post.title }} Image">
                        {% endif %}
                        <p>{{ post.content }}</p>
                    </div>
                {% endfor %}
            </ul>
            -->
        </div>
    </body>
</html>
