<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/access_style.css') }}">
</head>
<body style="background-image: url('../static/images/login.jpg'); background-size: cover;">
    <div class="container">
        <div class="titlecontainer"><h1 align="center">AvailData</h1></div>
        
        <form method="POST" action="{{ url_for('login') }}">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="{% if 'success' in messages %}success{% else %}error{% endif %}">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
            <div class="button-container">
                <button type="button" onclick="redirectToPage()">Signup</button>
                <input type="submit" value="Login">
            </div>
            <script>
                function redirectToPage() {
                    window.location.href = "signup";
                }
            </script>
        </form>
    </div>
</body>
</html>